<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.expresspay.heartbeat">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:usesCleartextTraffic="true">
        <receiver android:name=".service.AlarmReceiver" android:exported="false"/>
    </application>

</manifest>